* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
    padding: 10px 5px;
    
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100px;
    padding: 20px;
    
}

.sidebar  a:hover{
    background-color: #e8e5e5;
}

.sidebar .active{
    background-color: #cecdcd;
}

.sidebar img{
    margin-bottom: -5px;
    /* margin-left: 20px; */
}


.sidebar a {
    line-height: 32px;
    text-decoration: none;
    color: #000;
    height: 50px;
    padding: 10px;

}
.toggle {
    bottom: 12px;
}

.logo {
    height: 30px;
}

.youtubelogo {
    display: flex;
    flex: 0 0 300px;
    /* background: blue; */
    gap: 20px;
    align-items: center;
}

.naija{
    position: relative;
    bottom: 8px;
    right: 19px;

}

/* .searchbutton{
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
} */

.searchbarcontainer {
    display: flex;
    flex: 1 1 auto;
    /* background: green; */
    /* width: 100%; */
}

/* .search {
    background-color: rgb(206, 206, 206);
    border-radius: 0px 20px 20px 0px;
    width: 30px;
    
}
 */
.searchbar {
    width: 60%;
    /* background: red; */
    /* margin: auto; */
    /* border: 1px solid blue; */
    border: 1px solid rgb(186, 183, 183);
    display: flex;
    align-items: center;
    transform: translateX(-30px);
    border-radius: 500px;
    overflow: hidden;

    

}

.search1 {
    width: 80%;
    height: 100%;
    padding: 7px;
    outline: none;
    border: none;
    
}

.submitbtn {
    width: 20%;
    height: 100%;
    /* display: inline-block; */
    padding: 5px;
    /* background: goldenrod; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.signintop {
    position: relative;
    bottom: 10px;
    color: rgb(1, 107, 255);
}

.signingone{
    width: 30px;
    margin-top: 5px;
    
}
.microphone {
    background-color: rgb(243, 243, 243);
    border-radius: 50px;
}

.signinbuttom{
    position: relative;
    bottom: 25px;
    left: 30px;
    margin-top: 2px;
    color: rgb(1, 107, 255);;
}

.signIn {
    display: flex;
    align-items: center;

}

.button {
    position: fixed;
    top: 50px;
    left: 250px;
    overflow-x: auto;
    width: 100%;
    overflow-y: hidden;
    background-color: #fff;
    padding: 5px;
    margin: 15px;  
}

.button button {
    padding: 5px;
    border-radius: 8px;
    border: 1px;
    background: rgb(243, 243, 243);
}

.button .active {
    background: #000;
    color: #fff;
}

.main {
    display: flex;
    position: relative;
    left: 250px;
    top: 20px;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 10px;
    width: 80%;
}

.toptwo {
    display: flex;
    margin-left: 30px;
    gap: 10px;
    width: 80%;
}


.leftpicture img {
    width: 60%;
    height: 200px;
    border-radius: 10px;
}

.rightpicture {
    width: 40%;
}

.rightpicture .showmaxad {
    height: 100px;
    border-radius: 10px;
}

.rightpicture button,
.watch {
    position: relative;
    bottom: 60px;
    left: 80px;
    line-height: 20px;
}

.bottomthree {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    gap: 10px;
    width: 100%;
    /* margin-left: 450px;
    margin-top: 30px; */
}

.bottomthree .img1, .img2, .img3 {
    min-height: 200px;
    width: 100%;
    border-radius: 10px;
}

.title{
    font-size: 14px;
    font-weight: 550;
    overflow: hidden;
}

.content{
    display: flex;
}

.vidInfo{
    margin-left: 50px;
    color: #8b8888;
    font-size: 11px;
}

/* .bottom1 {
    
}
.bottom2 {

}
.bottom3 {
    
} */

.channel{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}




.showmax {
    width: 60px;
    border-radius: 50px;
}

.btn {
    color: white;
    background: rgb(0, 115, 255);
    border-radius: 20px;
    padding: 5px;
    border: none;
}

/* RESPONSIVE DESIGN */

@media(max-width: 1000px){
.button {
        overflow-x: scroll;
        width: 75%;
        margin: 15px auto;
    }


    .button button {
        margin: 6px;
    }
}

@media(max-width: 750px){
.sidebar{
    display: none;
}

.main {
    display: flex;
    position: relative;
    left: -20px;
    top: 200px;
    flex-wrap: wrap;
    overflow-x: hidden;
    padding: 10px;
    width: 80%;
    margin: auto;

}

.toptwo{
flex-flow: column wrap;
}

.leftpicture{
    width: 100%;
}

.leftpicture img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rightpicture {
    width: 100%;
}

.bottomthree {
    flex-direction: column;
    margin: auto;
    gap: 50px;
    width: 90%;
}



.vidInfo {
    margin-top: -19px;
    line-height: 19px;
}

}